[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
psycopg2 = "*"
matplotlib = "*"
click = "*"
rich = "*"
python-dotenv = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
